crud/__pycache__/
crud_app/__pycache__/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
Dockerfile
docker-compose.yml
.vscode/
.idea/
.DS_Store
Thumbs.db
